.arrow {
  width: 28px;
  height: 27px;
  margin: 10px auto;
}

.arrow { background-image: url(sprites/elements.png); background-position: 0 0;
}

.arrow:hover { background-image: url(sprites/elements.png); background-position: -48px 0;
}

@media only screen and (min-resolution: 1.5dppx) {
  .arrow { background-image: url(sprites/elements@2x.png); background-position: 0 0; background-size: 76px 27px;
  }

  .arrow:hover { background-image: url(sprites/elements@2x.png); background-position: -48px 0; background-size: 76px 27px;
  }
}

@media only screen and (min-resolution: 2.5dppx) {
  .arrow { background-image: url(sprites/elements@3x.png); background-position: 0 0; background-size: 76px 27px;
  }

  .arrow:hover { background-image: url(sprites/elements@3x.png); background-position: -48px 0; background-size: 76px 27px;
  }
}
