.arrow {
  width : 28px; 
  height : 27px;
  margin : 1030px auto;
}

.arrow { background-image : url(sprites/elements.png); background-position : 0 0;
}
.arrow:hover { background-image : url(sprites/elements.png); background-position : -28px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .arrow { background-image : url(sprites/elements@2x.png); background-position : 0 0; background-size : 56px 27px;
  }
  .arrow:hover { background-image : url(sprites/elements@2x.png); background-position : -28px 0; background-size : 56px 27px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
  .arrow { background-image : url(sprites/elements@3x.png); background-position : 0 0; background-size : 56px 27px;
  }
  .arrow:hover { background-image : url(sprites/elements@3x.png); background-position : -28px 0; background-size : 56px 27px;
  }
}